.Navbox {
    background-color: #dd3434;
    color: white;
    margin: 25px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Optional: Rounded bottom corners only */
.Navbox h1 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.settings-icon {
    font-size: 1.4rem;
    cursor: pointer;
}